.head{
    
}

.header{
    padding-top: 10px;
    
  background-image:url(/mexantEmployeRestrations/logo/wk.jpg);
     height: 615px;
     
      
    
    
}
body{
 
   
  
   
}
.nav{
    list-style-type: none;
   
    display: inline-block;
    
}
a {
  color: rgb(255, 255, 255);
  background-color: transparent;
  
}
a:hover{
    color: lch(59.18% 90.2 44.96);
}
.logo{
    float: left;
    padding-left: 100px;
}
.nav-bar{
    
    float: right;
    padding-right: 30px;
}
.home {
    padding-top: 20px;
    padding-right: 30px;
    font-size: 20px;
    
    
}
.hc{
    color: lch(59.18% 90.2 44.96);
}
.About{
    padding-right: 30px;
     font-size: 20px;
     
} 
.Services{
    padding-right: 30px;
     font-size: 20px;
    
}
.Testimonials{
    padding-right: 30px;
     font-size: 20px;
     
} 
.ContactSp{
    padding-right: 80x;
     font-size: 20px;
     
    
}
.CSpB{
  
   background-color: #43ba7f;
   border-radius: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 15px;
  padding-bottom: 15px;
   font-size: 20px;
  
  color: aliceblue;
   
}
.c1{
    color: lch(59.18% 90.2 44.96);
}
.line{
    
  
    background-color: #f7f7f7;
    color: aliceblue;
    border-radius: 8px;
    
    width: 90px;
    font-size: 5px;
    margin-left: 98px;
}
.para{
    margin-top: 20px;
   margin-left: 98px;
   word-wrap: break-word; 
   color: #f7f7f7;
   font-family: 'Poppins', sans-serif;
}
.buttons{
    margin-top: 50px;
   margin-left: 98px;
}
.DButton{
  
   background-color: #43ba7f;
   border-radius: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
   font-size: 20px;
   width: 150px;
   text-align: center;

  
  color: aliceblue;
  display: inline-block;
   
}
.CButton{
     background-color: lch(59.18% 90.2 44.96);
   border-radius: 8px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 10px;
  padding-bottom: 10px;
   font-size: 20px;
   width: 150px;
   margin-left: 15px;
   text-align: center;
   display: inline-block;
   cursor: pointer;

  
  color: aliceblue;
}
/* .FormDivide> div {
  background-color: #f39f9f;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.FormDivide {
  display: flex;
  flex-wrap: nowrap;
  
 
} */
 .FormDivide{
    float: right;
    display: inline-block;
    background-color: #f2f2f2;
    margin-top: 60px;
    width: 650px;
 }

.FormSection {

  border-radius: 5px;
  background-color: #f2f2f2;
  width: 650px;
  float: left;
  margin-top: 60px;


  
  
}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=radio], select {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  margin: 8px 0;
  
  
}
input[type=checkbox], select {
    margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-left: 10px;
  
}

input[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
 table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 1px solid white;
            padding: 8px;
            text-align: left;
        }

        .delete-btn {
            padding: 4px 8px;
            background-color: red;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
